@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700');
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?a42ag6');
    src:  url('../fonts/icomoon.eot?a42ag6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?a42ag6') format('truetype'),
    url('../fonts/icomoon.woff?a42ag6') format('woff'),
    url('../fonts/icomoon.svg?a42ag6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-send:before {
  content: "\f1d8";
}
html {
    width: 100%;
    height: 100%;
}
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../img/slider.jpg);
    background-size: 100%;
    height: 800px;
}

.slider {
    max-width: 1340px;
    min-width: 725px;
    margin: 0 auto;
}
.navbar {
    width: 100%;
    height: 90px;
    position: relative;

}
.logo {
    margin-left: 98px;
    margin-top: 63px;
    float: left;
    background: url(../img/logo.png);
    width: 185px;
    height: 22px;
    position: relative;
}
.menu{
    width: 100%
}
.menu-btn {
    margin-right: 21px;
    float: right;
    list-style-type: none;
    margin-top: 48px;
}
.menu-btn ul{
    width: 60%;
}
.menu-btn li {
    display: inline;
    clear:both;
}
.menu-btn li a {
    text-decoration: none;
    padding: 0 10px;
    font-family: Montserrat;
    color:  #8c8c8c;
    font-size: 0.875em;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 48px;/* Приближение из-за подстановки шрифтов */
    text-align: right;
}
.menu-btn li a:hover {
    color:  #212121;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 48px;/* Приближение из-за подстановки шрифтов */
    text-align: right;
    border-bottom: 3px solid #000;
}
.menu img[alt=search] {
    float: right;
    margin-top: 63px;
    margin-right: 167px;
}
.slider .content {
    clear: both;
    float: left;
    margin-top: 288px;
    margin-left: 98px;
}
.slider .content h3 {
    color:  #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 13px;
    margin-bottom: 22px;

}
.slider .content h2 {
    color:  #212121;
    font-size: 55px;
    font-weight: 100;
    line-height: 43px;
    margin-bottom: 34px;
}
.slider .content p {
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 32px;
}
.slider .content a {
    display: block;
    background-color:  #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    border-radius: 22px;
    text-decoration: none;
    text-align: center;
    line-height: 47px;
    color: #212121;
    font-weight: 700;
    font-family: Montserrat;
    font-size: 18px;
}
.slider .content a:hover {
    background: #fff url('../img/arrow1.png') no-repeat 173px 17px;
}
.slider .content a:active {
    box-shadow: none;
}
.circles {
    clear: both;
    width: 120px;
    height: 150px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
.circle {
    float: left;
    border-radius: 50%;
    background-color: rgba(33, 33, 33, 0.2);
    width: 30px;
    height: 30px;
    margin: 5px 5px;
}
.circle:hover {
    border-radius: 50%;
    background-color:  #212121;
    width: 35px;
    height: 35px;
    margin: 2px 2px;
}

@media screen and (max-width: 1320px) {
    .chair3 {
        clear: both;
        margin-top: 30px;
    }
    .chair4 {
        margin-top: 30px;
    }
    .chairsname > a {
        float: left;
        margin-left: 30px;
        margin-right: 0;
    }
}

.featured-product{
    position: relative;
    float: left;
    width: 100%;
    height: 369px;
    margin-top: 120px;
}

.tab-control {
    margin-left: 98px;
    float: left;
    list-style-type: none;
}

.tab-control li {
    display: inline-block;
    text-align: left;
}

.tab-control li a {
    height: 27px;
    text-decoration: none;
    padding:  0 20px;
    line-height: 27px;
    font-family: Montserrat;
    color:  #6c6c6c;;
    font-size: 36px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
}

.tab-control li a:hover {
    color:  #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    border-bottom: 3px solid #000 ;
}

.btn-ghost {
    margin-right: 118px;
    width: 179px;
    height: 13px;
    float: right;
}
.btn-ghost a{
    font-family: Montserrat;
    color: #212121;;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    display: block;
    text-decoration: none;
}
.btn-ghost a:hover {
    background: url('../img/arrow1.png') no-repeat 170px;
}

.tab-content{
    margin-left: 98px;
    margin-top: 50px;
    width: 1170px;
    height: 270px;
}

.tab-content li {
    display: inline-block;
    text-align: left;
    padding: 15px;
}

.tab-content img {
    width: 250px;
    height: 250px;
}

.tabl-inner{
    position: absolute;
    display: none;
}

.tabl-inner .img-back{
    border-radius: 50%;
    background-color:  #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 48px;
    height: 48px;
    margin-left: 101px;
    margin-top: 52px;
}
.tabl-inner img{
    width: 12px;
    height: 20px;
    padding-top: 15px;
    padding-left: 20px;

}
.tabl-inner .tab-h4{
    padding-top: 20px;
    text-align: center;
    color:  #212121;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    transform: scaleX(1.0041);
}
.tabl-inner .tab-p{
    text-align: center;
    padding-top: 9px;
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}
.tab-content li:hover .tabl-inner{
    display: block;
    margin-top: -254px;
    background: rgba(254, 254, 255, 0.65);
    width: 248px;
    height: 248px;
    border-width: 1px;
    border-color:  #9c9c9c;
    border-style: solid;
}
